@tailwind base; @tailwind components; @tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:
    rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent
}

::-webkit-scrollbar-track {
  background: #222222;
}

::-webkit-scrollbar-thumb {
  background: rgb(9, 206, 140);
  border-radius: 5px;
}

.custom-gradient {
  color:white;
  background-image: linear-gradient(to right, #a236e0, #e03699, #ff73fa);

  background-size: 300%;
  background-position: right;

  transition: background-position 0.5s ease-in-out;
}

.custom-gradient:hover {
  background-position: left;
} 